* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    line-height: 100%;

    border: 0%;
    margin: 0%;
    padding: 0%;

    color: #313131;
}

h1 {
    font-weight: 500;
    font-size: 36pt;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    font-size: 16pt;
    text-transform: uppercase;
}

h2.title {
    font-weight: 700;

    margin-bottom: 30px;
}

hr {
    border: 2px solid #ffd739;
    border-radius: 4px;
}

p {
    line-height: normal;
    font-size: 10pt;
    text-align: justify;
}

p.job-title {
    margin-bottom: 20px;
}

p.description {
    width: 310px;
    margin-left: 15px;
}

p.skill-name {
    font-weight: 600;
}

b.semi-bold {
    font-weight: 600;
}

div.job-description {
    display: flex;
}

div.shape {
    width: 5px;

    background-color: #ffd739;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.job {
    margin-bottom: 35px;
}

div.skill-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

margin-bottom: 10px;
}

div.skill {
    margin-bottom: 15px;

    width: 170px;
    display: flex;

    align-items: center;

    justify-content: space-between;
}

div.points {
    display: flex;
}

div.point {
    width: 5px;
    height: 10px;
    background-color: #cbcbcb;
    border-radius: 5px;
    margin-left: 6px;
}

div.interests-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.interest {
    margin-bottom: 15px;

    width: 95px;
    display: flex;

    align-items: center;
}

div.interest-point {
    width: 5px;
    height: 10px;
    background-color: #ffd739;
    border-radius: 5px;
}

p.interest-name {
    font-weight: 600;
    margin-left: 7px;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.particular {
    width: 240px;
    margin-bottom: 55px;
    padding-left: 30px;
}

p.contact-infos {
    margin-left: 20px;
}

div.location {
    display: flex;
    align-items: center;
}

img.location-icon {
    width: 20px;

}

div.location-container {
    margin-bottom: 25px;
}

div.location-group {
    padding-top: 5px;
    padding-left: 2px;
}

div.contact {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

img.contact-icons {
    width: 15px;
}

p.contact-description {
    margin-left: 25px;
}

div.contacts-tag {
    background-color: #ffd739;
    width: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: absolute;

    z-index: -1;
}

div.contacts-container {
    position: relative;
}

div.contacts-group {
    padding-top: 10px;
    padding-left: 5px;
}

a {
    text-decoration: none;
}

div.picture-profile {
    background-color: #ffd739;
    height: 320px;
    width: 220px;

    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;

    border: 40px solid white;
    border-top: none;

    margin-bottom: 30px;

    overflow: hidden;
}

img.profile {
    width: 250px;

    position: relative;

    right: 25px;
}

div.particular-backgroud {
    background-color: #f6f6f6;
    width: 400px;
    height: 105%;

    margin-top: 250px;

    position: absolute;

    z-index: -1;
}

div.particular-main {
    display: flex;

    align-items: center;
    justify-content: center;
}